.product-card {
    border: 1px solid var(--border);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s;
    width: 300px;
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.product-img {
    height: 180px;

    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border);
}

.product-content {
    padding: 15px;
}

.product-footer {
    border-top: 1px solid var(--border);
}

.product-stock {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #ebf4ff;
    color: var(--accent);
}

.add-to-cart-btn{
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.add-to-cart-btn:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

@media (max-width: 768px) {
    .product-card{
        width: 45%;
        
    }

}

@media (max-width: 435px) {
    .product-card{
        width: 100%;
        
    }

}

