.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    min-height: 300px;
    border: 1px solid var(--border);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s;
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}


.product-img {
    flex: 0 0 180px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    overflow: hidden;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border);
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.product-footer {
    border-top: 1px solid var(--border);
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.75rem;
}

.product-stock {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #ebf4ff;
    color: var(--accent);
}

.add-to-cart-btn {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.add-to-cart-btn:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}


@media (min-width: 1200px) {
    .product-card {
        width: 31%;
        font-size: small;
    }

    .product-card h5 {
        font-size: medium;
    }
}

@media (max-width: 1199px) {
    .product-card {
        width: 31%;
        font-size: small;
    }

    .product-card h5 {
        font-size: medium;
    }
}

@media (max-width: 768px) {
    .product-card {
        width: 48%;
        font-size: small;
    }

    .product-card h5 {
        font-size: medium;
    }
}

@media (max-width: 436px) {
    .product-card {
        font-size: small;
    }

    .product-img {
        flex: 0 0 110px;
        padding: 0.5rem;
    }

    .product-img img {
        height: 90px;
    }


    .product-card h5 {
        font-size: medium;
    }
}

@media (max-width: 380px) {
    .product-card {
        width: 48%;
        min-width: 140px;
        height: 30rem;
        font-size: 14px;
    }

    .product-img {
        flex: 0 0 110px;
        padding: 0.5rem;
    }

    .product-img img {
        height: 90px;
    }

    .product-content {
        padding: 10px;
    }

    .product-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .add-to-cart-btn {
        width: 100%;
        font-size: 13px;
        padding: 6px 0;
    }

    .product-stock {
        font-size: 10px;
        padding: 2px 4px;
    }
}